@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  background-color: #0a192f;
  color: #ccd6f6;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  gap: 20px;
  position: relative;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1201px) {
  .main-container {
    gap: 40px;
  }
}
.main-container__header {
  color: #ccd6f6;
  font-size: 30px;
}
@media only screen and (max-width: 480px) {
  .main-container__header {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-container__header {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1201px) {
  .main-container__header {
    font-size: 45px;
  }
}
.main-container__textArea {
  color: #66f0d3;
  width: 70%;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
  .main-container__textArea {
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-container__textArea {
    font-size: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container__textArea {
    font-size: 17px;
    padding: 40px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-container__textArea {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1201px) {
  .main-container__textArea {
    font-size: 27px;
    width: 60%;
  }
}
.main-container__div {
  border: 1px groove #ccd6f6;
  width: 70%;
  height: fit-content;
  word-break: break-all;
  padding: 10px;
  gap: 50px;
  margin-bottom: 0;
  border-radius: 5px;
}
@media only screen and (max-width: 480px) {
  .main-container__div {
    gap: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container__div {
    padding: 40px;
  }
}
@media only screen and (min-width: 1201px) {
  .main-container__div {
    font-size: 20px;
    width: 60%;
  }
}
.main-container__div--para {
  color: #66f0d3;
  display: flex;
  justify-content: flex-start;
  border: none;
  width: 100%;
  height: fit-content;
}
@media only screen and (max-width: 480px) {
  .main-container__div--para {
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-container__div--para {
    font-size: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container__div--para {
    font-size: 17px;
    padding: 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-container__div--para {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1201px) {
  .main-container__div--para {
    font-size: 27px;
  }
}

#errorMessage {
  display: flex;
  justify-content: center;
}

body > footer {
  position: fixed !important;
  top: 95vh !important;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 100vh;
  padding: 7px;
}
@media only screen and (max-width: 480px) {
  body > footer {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1201px) {
  body > footer {
    font-size: 21px;
  }
}

.note {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .note {
    font-size: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .note {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .note {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .note {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1201px) {
  .note {
    font-size: 20px;
  }
}
