@use "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

$primary-background-color: #0a192f;
$primary-color: #66f0d3;
$secondary-color: #ccd6f6;

* {
    font-family: "Open Sans", sans-serif;
    background-color: $primary-background-color;
    color: $secondary-color;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    gap: 20px;
    position: relative;
    margin-bottom: 50px;
    @include mixins.tv {
        gap: 40px;
    }

    &__header {
        color: $secondary-color;
        font-size: 30px;
        @include mixins.mobile {
            font-size: 22px;
        }
        @include mixins.desktop {
            font-size: 35px;
        }
        @include mixins.tv {
            font-size: 45px;
        }
    }
    &__textArea {
        color: $primary-color;
        width: 70%;
        padding: 10px;
        margin-bottom: 0;
        border-radius: 5px;
        @include mixins.mobile {
            font-size: 12px;
        }
        @include mixins.tablet {
            font-size: 15px;
        }
        @include mixins.laptop {
            font-size: 17px;
            padding: 40px;
        }
        @include mixins.desktop {
            font-size: 18px;
        }
        @include mixins.tv {
            font-size: 27px;
            width: 60%;
        }
    }
    &__div {
        border: 1px groove $secondary-color;
        width: 70%;
        height: fit-content;
        word-break: break-all;
        padding: 10px;
        gap: 50px;
        margin-bottom: 0;
        border-radius: 5px;

        @include mixins.mobile {
            gap: 0;
        }

        @include mixins.laptop {
            padding: 40px;
        }

        @include mixins.tv {
            font-size: 20px;
            width: 60%;
        }
        &--para {
            color: $primary-color;
            display: flex;
            justify-content: flex-start;
            border: none;
            width: 100%;
            height: fit-content;
            @include mixins.mobile {
                font-size: 12px;
            }
            @include mixins.tablet {
                font-size: 15px;
            }
            @include mixins.laptop {
                font-size: 17px;
                padding: 0;
            }
            @include mixins.desktop {
                font-size: 18px;
            }
            @include mixins.tv {
                font-size: 27px;
            }
        }
    }
}

#errorMessage {
    display: flex;
    justify-content: center;
}

body > footer {
    position: fixed !important;
    top: 95vh !important;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 100vh;
    padding: 7px;

    @include mixins.mobile {
        font-size: 12px;
    }
    @include mixins.tv {
        font-size: 21px;
    }
}

.note {
    width: 100%;
    text-align: center;
    @include mixins.mobile {
        font-size: 10px;
    }
    @include mixins.tablet {
        font-size: 12px;
    }
    @include mixins.laptop {
        font-size: 17px;
    }
    @include mixins.desktop {
        font-size: 18px;
    }
    @include mixins.tv {
        font-size: 20px;
    }
}
